/* Regole generali */
*{
    margin: 0;
    box-sizing: border-box;

}


/* Regole header */

header{
    background-color: #ff6900;
    min-height: 100px;
    color: #fff;
}

#flex-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: auto;
    padding: 25px 0;

}

#logo {
    max-height: 50px;
}

nav#menuheader li{
    display: inline;
}


/* Regole prod */
#contprod {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: auto;
}
.prodact {
    max-height: 400px;
    /* width: calc(100% / 3); */
    /* Debug */
    background-color: #ff6900;
}

.imgprodact {
    max-height: 400px;
}